* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.card {
  width: 400px;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #ffc8dd;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(91, 162, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2 {
  color: rgb(0, 0, 0);
}
span {
  color: #932f6d;
}
.profile {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid rgb(82, 132, 179);
}
.profile > img {
  width: 100%;
}
a {
  width: 400px;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #ffc8dd;
  padding: 14px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
.profile-img {
  padding: 50px;
}
.profile-img1 > img {
  width: 100%;
}
.profile-img1 {
  margin-top: 55px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-text {
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}
